---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/core/BaseHead.astro";
import Footer from "../components/home/Footer.astro";
import FormattedDate from "../components/shared/FormattedDate.astro";
import Header from "../components/home/Header.astro";
import "../styles/blog-post.css";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <main>
            <article>
                <div class="prose">
                    <div class="title">
                        <div class="date">
                            <FormattedDate date={pubDate} />
                            {
                                updatedDate && (
                                    <div class="last-updated-on">
                                        Last updated on{" "}
                                        <FormattedDate date={updatedDate} />
                                    </div>
                                )
                            }
                        </div>
                        <h1>{title}</h1>
                        <hr />
                    </div>
                    <slot />
                </div>
            </article>
        </main>
        <Footer />
    </body>
</html>
